force-app/main/default/flows/Account_Relationship_Created_Fast_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Append_CG</name>
        <label>Append CG</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Credit_Group_Check</name>
        <label>Credit Group Check</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relationship_Credit_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_CG</targetReference>
            </connector>
            <label>Relationship = Credit Group</label>
        </rules>
    </decisions>
    <description>When an Account is created, flow will fire to append &quot;- CG&quot; to Credit Group name</description>
    <environments>Default</environments>
    <formulas>
        <name>NameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&quot; - CG&quot;</expression>
    </formulas>
    <interviewLabel>Account / Relationship Created - Fast Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account / Relationship Created - Fast Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Credit_Group_Check</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
