force-app/main/default/flows/Adverse_Action_Created_Quick_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Withdrawn_Status</name>
        <label>Set Withdrawn Status</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.AA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Withdrawn</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Withdrawn</name>
        <label>Withdrawn</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Withdraw_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Withdrawn_Status</targetReference>
            </connector>
            <label>Loan Withdrawn</label>
        </rules>
    </decisions>
    <description>When an Adverse Action Record is created, update Fields (ie. Loan Officer)</description>
    <environments>Default</environments>
    <interviewLabel>Adverse Action Created - Quick Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adverse Action Created - Quick Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_AA_Record</name>
        <label>Update AA Record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Withdrawn</targetReference>
        </connector>
        <inputAssignments>
            <field>cm_Loan_Officer__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_AA_Record</targetReference>
        </connector>
        <object>LLC_BI__Adverse_Action__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
