force-app/main/default/flows/Book_Customer_to_Core.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Book_Customer_Non_Batch</name>
        <label>Book Customer Non-Batch</label>
        <locationX>407</locationX>
        <locationY>518</locationY>
        <actionName>JHJX__ABJXNonBatchCustomerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Transaction_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>relationshipId</name>
            <value>
                <elementReference>RelationshipRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isSuccessful</assignToReference>
            <name>IsSuccessful</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>messages</assignToReference>
            <name>Messages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>transactionLogId</assignToReference>
            <name>TransactionLogExternalId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Customer_Booked</name>
        <label>Is Customer Booked</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Book_Customer_Non_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Is Not Booked</defaultConnectorLabel>
        <rules>
            <name>Customer_Is_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelationshipRecord.LLC_BI__lookupKey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Customer Is Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transaction_Complete</name>
        <label>Is Transaction Complete</label>
        <locationX>605</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Book_to_Core_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transaction Is Something Other Than Complete</defaultConnectorLabel>
        <rules>
            <name>Transaction_Is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransactionDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Updated_Relationship.LLC_BI__lookupKey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>RelationshipRecord</targetReference>
            </connector>
            <label>Transaction Is Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transaction_In_Progress</name>
        <label>Is Transaction In Progress</label>
        <locationX>407</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Updated_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Progress</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_to_Core_Status</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <interviewLabel>Book Customer to Core {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Customer to Core</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Transaction_Log</name>
        <label>Get Transaction Log</label>
        <locationX>407</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transaction_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nFUSE__External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transactionLogId</elementReference>
            </value>
        </filters>
        <object>nFUSE__Transaction_Log__c</object>
        <outputAssignments>
            <assignToReference>TransactionDetail</assignToReference>
            <field>nFUSE__Transaction_Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TransactionStatus</assignToReference>
            <field>nFUSE__Transaction_Status__c</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>RelationshipRecord</name>
        <label>RelationshipRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Book_Customer_to_Core</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationshipId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Updated_Relationship</name>
        <label>Updated Relationship</label>
        <locationX>605</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transaction_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationshipId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Book_Customer_to_Core</name>
        <label>Book Customer to Core</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Customer_Booked</targetReference>
        </connector>
        <fields>
            <name>Book_Customer_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click Next to book {!RelationshipRecord.Name} to the core.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelationshipRecord.LLC_BI__lookupKey__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Previous_Booking_Status</name>
            <fieldText>Previous Booking Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Previous_Booking_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PriorDetails</name>
                    <fieldText>&lt;p&gt;{!RelationshipRecord.JHJX__CoreBookingDetails__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelationshipRecord.LLC_BI__lookupKey__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RelationshipRecord.JHJX__CoreBookingDetails__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Is_Booked_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Customer is booked! {!RelationshipRecord.LLC_BI__lookupKey__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelationshipRecord.LLC_BI__lookupKey__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Book_to_Core_Details</name>
        <label>Book to Core Details</label>
        <locationX>737</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TransactionDetailDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Transaction Status&lt;/b&gt;: {!TransactionStatus}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Transaction Detail&lt;/b&gt;: {!TransactionDetail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoreBookingDetailsDisplay</name>
            <fieldText>&lt;p&gt;{!Updated_Relationship.JHJX__CoreBookingDetails__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Book_to_Core_Status</name>
        <label>Book to Core Status</label>
        <locationX>209</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Transaction_Log</targetReference>
        </connector>
        <fields>
            <name>InProgressDisplay</name>
            <fieldText>&lt;p&gt;The transaction is in progress. Please wait and check the status again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Check Status</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RelationshipRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>messages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
