force-app/main/default/flows/Collateral_Pledge_on_Create_Create_Loan_Docs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Temp_Rec_to_List</name>
        <label>Assign Temp Rec to List</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>LoanDocsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempLoanDocRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collateral_Placeholders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Loan_Doc_Man</name>
        <label>Assign Values to Loan Doc Man</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>tempLoanDocRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Collateral_Placeholders.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLoanDocRec.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLoanDocRec.LLC_BI__closingChecklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Collateral_Placeholders.LLC_BI__Closing_Checklist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLoanDocRec.LLC_BI__docClass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Collateral_Placeholders.LLC_BI__DocClass__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temp_Rec_to_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Collateral Pledge on Create, Create Loan Docs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collateral Pledge on Create, Create Loan Docs</label>
    <loops>
        <name>Loop_through_Collateral_Placeholders</name>
        <label>Loop through Collateral Placeholders</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Collateral_Placeholders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Loan_Doc_Man</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Loan_Doc_Recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Loan_Doc_Recs</name>
        <label>Create Loan Doc Recs</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>LoanDocsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Collateral_Placeholders</name>
        <label>Get Collateral Placeholders</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Collateral_Placeholders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NDOC__Collateral_Mgmt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Collateral__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Document_Placeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Collateral_Placeholders</targetReference>
        </connector>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>LoanDocsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__LLC_LoanDocument__c</objectType>
    </variables>
    <variables>
        <name>tempLoanDocRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__LLC_LoanDocument__c</objectType>
    </variables>
</Flow>
