force-app/main/default/flows/Create_Product_Package_Zen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Loan_PP_Id</name>
        <label>Assign Loan PP Id</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Product_Package</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_Package_already_populated</name>
        <label>Product Package already populated?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_New_Product_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Package Null</defaultConnectorLabel>
        <rules>
            <name>Product_Package_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan.LLC_BI__Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Package_Already_Populated_Screen</targetReference>
            </connector>
            <label>Product Package Populated</label>
        </rules>
    </decisions>
    <description>Triggered through Loan Action/Button.  Quick way for users to create a Product Package from a loan.</description>
    <environments>Default</environments>
    <formulas>
        <name>ProductPackageNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Loan.LLC_BI__Account__r.Name} &amp; &quot; - &quot; &amp; &apos;PP&apos; &amp; &quot; - &quot; &amp; CASE(MONTH(Today()), 1, &quot;Jan&quot;, 2, &quot;Feb&quot;, 3, &quot;Mar&quot;, 4, &quot;Apr&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;Aug&quot;, 9, &quot;Sep&quot;, 10, &quot;Oct&quot;, 11, &quot;Nov&quot;, 12, &quot;Dec&quot;, &quot;None&quot;) &amp; &quot; &quot; &amp; TEXT(Year(Today()))</expression>
    </formulas>
    <interviewLabel>Create Product Package {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Product Package</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Package</name>
        <label>Create Product Package</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Loan_PP_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>Get_Loan.LLC_BI__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Stage__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Product_Package_Name</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Package_already_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Package__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Loan</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_New_Product_Package</name>
        <label>Create New Product Package</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Product_Package</targetReference>
        </connector>
        <fields>
            <name>Product_Package_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProductPackageNameFormula</elementReference>
            </defaultValue>
            <fieldText>Product Package Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Package_Already_Populated_Screen</name>
        <label>Product Package Already Populated</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PP_Populated_Screen</name>
            <fieldText>&lt;p&gt;This Loan Record is already in a Product Package.  If you would like to create a new Product Package for this loan, please remove the Product Package value in the Loan Information screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
