force-app/main/default/flows/Credit_Memo_Narratives.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Narrative_Values</name>
        <label>Set Narrative Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>LoanReviewComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.LoanReviewCommentsNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImpactFromPotentialEconomic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ImpactfromPotentialEconomicRecession__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinancialReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.FinancialReviewNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Liquidity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.LiquidityNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.LeverageNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Profitability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ProfitabilityNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Narratives</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Credit Memo - Do Not Use account</description>
        <name>CreditMemoDoNotUse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Memo - Do Not Use</stringValue>
        </value>
    </constants>
    <description>Sets default text for credit memo narratives</description>
    <environments>Default</environments>
    <interviewLabel>Credit Memo Narratives {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Memo Narratives</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Narrative_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditMemoDoNotUse</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Narratives</name>
        <label>Update Narratives</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FinancialReviewNarrative__c</field>
            <value>
                <elementReference>FinancialReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImpactfromPotentialEconomicRecession__c</field>
            <value>
                <elementReference>ImpactFromPotentialEconomic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeverageNarrative__c</field>
            <value>
                <elementReference>Leverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LiquidityNarrative__c</field>
            <value>
                <elementReference>Liquidity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanReviewCommentsNarrative__c</field>
            <value>
                <elementReference>LoanReviewComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfitabilityNarrative__c</field>
            <value>
                <elementReference>Profitability</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinancialReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImpactFromPotentialEconomic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Leverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Liquidity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanReviewComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Profitability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
