force-app/main/default/flows/Credit_Memo_Loan_Narrative.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Narrative_Values</name>
        <label>Set Narrative Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RequestNarrative</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan.RequestSummaryNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Narratives</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Credit Memo - Do Not Use account</description>
        <name>CreditMemoDoNotUse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Memo - Do Not Use</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditMemoLoan</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Memo - Do Not Use - C&amp;I 30/360 - $.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditMemoPP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Credit Memo - DO NOT USE - PP - June 2023</stringValue>
        </value>
    </constants>
    <description>Default narrative text for loan</description>
    <environments>Default</environments>
    <interviewLabel>Credit Memo Loan Narrative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Memo Loan Narrative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Narrative_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditMemoLoan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Narratives</name>
        <label>Update Narratives</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>RequestSummaryNarrative__c</field>
            <value>
                <elementReference>RequestNarrative</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>FinancialReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GuarantorComakerComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImpactFromPotentialEconomic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Leverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Liquidity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanReviewComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Profitability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestNarrative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
