force-app/main/default/flows/Credit_Memo_PP_Narrative.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Narrative_Values</name>
        <label>Set Narrative Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>GuarantorComakerComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Package.GuarantorComakerCommentsNarrative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Narratives</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Credit Memo - Do Not Use account</description>
        <name>CreditMemoDoNotUse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Memo - Do Not Use</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditMemoPP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Credit Memo - DO NOT USE - PP - June 2023</stringValue>
        </value>
    </constants>
    <description>Default narratives for product package</description>
    <environments>Default</environments>
    <interviewLabel>Credit Memo PP Narrative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Memo PP Narrative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Package</name>
        <label>Get Product Package</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Narrative_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditMemoPP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Narratives</name>
        <label>Update Narratives</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>GuarantorComakerCommentsNarrative__c</field>
            <value>
                <elementReference>GuarantorComakerComments</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Package</targetReference>
        </connector>
        <object>LLC_BI__Product_Package__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinancialReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GuarantorComakerComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImpactFromPotentialEconomic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Leverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Liquidity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanReviewComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Profitability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
