force-app/main/default/flows/Entity_Involvement_Assign_Reg_0_and_Employee_on_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Employee</name>
        <label>Assign Employee</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LoanToUpdate.LLC_BI__Employee_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Id</name>
        <label>Assign Loan Id</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>LoanToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Reg_O_and_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reg_0</name>
        <label>Assign Reg 0</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LoanToUpdate.LLC_BI__Reg_O_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Reg_O_and_Employees</name>
        <label>Check for Reg O and Employees</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reg_O</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Accounts.LLC_BI__Reg_O_Relationship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reg_0</targetReference>
            </connector>
            <label>Reg O</label>
        </rules>
        <rules>
            <name>Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Accounts.LLC_BI__Employee_Relationship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employee</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Entity Involvement - Assign Reg 0 and Employee on Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entity Involvement - Assign Reg 0 and Employee on Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Accounts</name>
        <label>Retrieve Accounts</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Loan_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputReference>LoanToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Accounts</targetReference>
        </connector>
        <filterFormula>{!$Permission.Integration_Trigger_Kill_Switch} != true</filterFormula>
        <object>LLC_BI__Legal_Entities__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
