force-app/main/default/flows/Loan_Created_Set_Create_Fields_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Lending_Assistant_Role_Id</name>
        <label>Assign Lending Assistant Role Id</label>
        <locationX>440</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__Assigned_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LTM_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Package.LLC_BI__Secondary_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToLTMCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Officer_Role_Id</name>
        <label>Assign Loan Officer Role Id</label>
        <locationX>704</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__Assigned_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LTM_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Package.LLC_BI__Primary_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToLTMCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Only_Loan_Officer_Role_Id</name>
        <label>Assign Only Loan Officer Role Id</label>
        <locationX>616</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__Assigned_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Officer_Role.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Package.LLC_BI__Primary_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLTMRole.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Single_LTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToLTMCollection</name>
        <label>AssignToLTMCollection</label>
        <locationX>572</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>cvar_LoanTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleLTMRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LTM_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lending_Assistant_Path</name>
        <label>Lending Assistant Path</label>
        <locationX>572</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Assign_Loan_Officer_Role_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan Officer</defaultConnectorLabel>
        <rules>
            <name>Lending_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_LTM_Roles.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lending Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lending_Assistant_Role_Id</targetReference>
            </connector>
            <label>Lending Assistant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lookup_Check</name>
        <label>Lookup Check</label>
        <locationX>616</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Loan_Simple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Officers</defaultConnectorLabel>
        <rules>
            <name>Primary_Officer_and_Lending_Assistant_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Package.LLC_BI__Primary_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package.LLC_BI__Secondary_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Officer_LTM</targetReference>
            </connector>
            <label>Primary Officer and Lending Assistant Set</label>
        </rules>
        <rules>
            <name>Primary_Officer_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Package.LLC_BI__Primary_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Officer_Role</targetReference>
            </connector>
            <label>Primary Officer Only</label>
        </rules>
    </decisions>
    <description>When a Main Loan is created, flow is used to Create Loan Team Records</description>
    <environments>Default</environments>
    <interviewLabel>Loan Created - Create LTM Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Created - Set/Create Fields/Records</label>
    <loops>
        <name>Loop_LTM_Roles</name>
        <label>Loop LTM Roles</label>
        <locationX>352</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Loan_Officer_LTM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lending_Assistant_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Loan_Team_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Loan_Team_Roles</name>
        <label>Create Loan Team Roles</label>
        <locationX>352</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
        <inputReference>cvar_LoanTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Single_LTM</name>
        <label>Create Single LTM</label>
        <locationX>616</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
        <inputReference>SingleLTMRole</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan_Officer_LTM</name>
        <label>Get Loan Team Roles</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_LTM_Roles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Officer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lending Assistant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Role__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Officer_Role</name>
        <label>Get Loan Officer Role</label>
        <locationX>616</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Only_Loan_Officer_Role_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Officer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Role__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Package</name>
        <label>Get Product Package</label>
        <locationX>616</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Primary_Officer__c</queriedFields>
        <queriedFields>LLC_BI__Secondary_Officer__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>616</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>LLC_BI__Loan_Officer__c</field>
            <value>
                <elementReference>Get_Product_Package.LLC_BI__Primary_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Product_Package.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Simple</name>
        <label>Update Loan - Simple</label>
        <locationX>880</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Product_Package.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__isRenewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Modification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cvar_LoanTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__LoanTeam__c</objectType>
    </variables>
    <variables>
        <name>SingleLTMRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__LoanTeam__c</objectType>
    </variables>
    <variables>
        <name>var_LendingAssistant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LendingAssistantRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LoanOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LoanOfficerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
