force-app/main/default/flows/Loan_Updated_Amount_RR_Update_Product_Package.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Classified_Loan_Long_Term</name>
        <label>Assign Classified Loan - Long Term</label>
        <locationX>572</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.Classified_Loan_Long_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PP_Classified_Loan_100M</name>
        <label>Assign PP Classified Loan &gt; 100M</label>
        <locationX>572</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.Any_Classified_Loan_100M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Classified_Loan_Long_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Variables</name>
        <label>Assign Single Variables</label>
        <locationX>704</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Var_LoanRiskGrade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Loans.LLC_BI__Risk_Grade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Loans.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProductBucket</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Loans.LLC_BI__Product_Reference__r.ffin_Product_Bucket__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Classified_Loan_100M_and_RR_is_3_or_Higher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Package_RR_Assignment</name>
        <label>Product Package RR Assignment</label>
        <locationX>484</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.LLC_BI__Risk_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_HighestLoanRiskGrade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.Any_Classified_Loan_100M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.Classified_Loan_Long_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_Records_from_PP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Classified_Loan_100M_and_RR_is_3_or_Higher</name>
        <label>Any Classified Loan &gt; 100M and RR is 3 or Higher</label>
        <locationX>704</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Classified_Loan_Long_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classified_Loan_100M_and_RR_3</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var_LoanAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_LoanRiskGrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_LoanRiskGrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_LoanRiskGrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_LoanRiskGrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_LoanRiskGrade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PP_Classified_Loan_100M</targetReference>
            </connector>
            <label>Classified Loan &gt; 100M and RR&gt;=3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Classified_Loan_Long_Term</name>
        <label>Classified Loan - Long Term</label>
        <locationX>704</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classified_Loan_Long_Term_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_ProductBucket</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_ProductBucket</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Classified_Loan_Long_Term</targetReference>
            </connector>
            <label>Classified Loan - Long Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = true</label>
        </rules>
    </decisions>
    <description>When loan amount or RR is changed on a loan, automation runs to set the highest Risk Rating on Product Package of all loans.  Flow also will set &apos;Any Classified Loan &gt; 100M&apos; and &apos;Classified Loan - Long Term&apos; if needed.</description>
    <environments>Default</environments>
    <interviewLabel>Loan Updated - Amount / RR - Update Product Package {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Updated - Amount / RR - Update Product Package</label>
    <loops>
        <name>Loop_thru_Loans</name>
        <label>Loop thru Loans</label>
        <locationX>484</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Loan_Records_from_PP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Package</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Records_from_PP</name>
        <label>Get Loan Records from PP</label>
        <locationX>484</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Package.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Risk_Grade__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Package</name>
        <label>Get Product Package</label>
        <locationX>484</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Single_Highest_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Risk_Rating__c</queriedFields>
        <queriedFields>Any_Classified_Loan_100M__c</queriedFields>
        <queriedFields>Classified_Loan_Long_Term__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Highest_Loan</name>
        <label>Get Single Highest Loan</label>
        <locationX>484</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Package_RR_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputAssignments>
            <assignToReference>var_HighestLoanRiskGrade</assignToReference>
            <field>LLC_BI__Risk_Grade__c</field>
        </outputAssignments>
        <sortField>LLC_BI__Risk_Grade__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Package</name>
        <label>Update Product Package</label>
        <locationX>484</locationX>
        <locationY>1943</locationY>
        <inputReference>Get_Product_Package</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR (3 AND (4 OR 5))) AND 6</filterLogic>
        <filters>
            <field>LLC_BI__Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Risk_Grade__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Underwriting</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_HighestLoanRiskGrade</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_LoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_LoanRiskGrade</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ProductBucket</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
