force-app/main/default/flows/Loan_ECOA_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>50</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SevenDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_RFI_Due_Alert</name>
        <label>Copy 1 of Send RFI Due Alert</label>
        <locationX>974</locationX>
        <locationY>1404</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Commitment_Letter_Outstanding</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RFIDueAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>314</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SixDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_RFI_Due_Alert</name>
        <label>Copy 2 of Send RFI Due Alert</label>
        <locationX>974</locationX>
        <locationY>1740</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Decision_Due_Approaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RFIDueAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>578</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>FiveDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>842</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>FourDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>1106</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ThreeDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>1370</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TwoDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>1634</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>OneDayDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>1898</locationX>
        <locationY>2076</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>IsDueDecisionMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RFI_Due_Alert1</name>
        <label>Send RFI Due Alert</label>
        <locationX>688</locationX>
        <locationY>516</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Application_On_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RFIDueAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_RFI_Due_Alert</name>
        <label>Send RFI Due Alert</label>
        <locationX>424</locationX>
        <locationY>516</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Application_On_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RFIDueAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_RFI_Due_Alert2</name>
        <label>Send RFI Due Alert</label>
        <locationX>952</locationX>
        <locationY>516</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Application_On_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RFIDueAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Test</name>
        <label>Test</label>
        <locationX>974</locationX>
        <locationY>1068</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_UW_RFI_Outstanding</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TwoDaysIncompleteMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Store_Hold_Decision_Reasons</name>
        <label>Store Hold Decision Reasons</label>
        <locationX>974</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>HoldDecisionReasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Decision_Hold_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Long_Before_It_Is_Due</name>
        <label>How Long Before It Is Due?</label>
        <locationX>820</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Is_Application_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X4_Days_Notice7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Sheet_RFI_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FourDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_RFI_Due_Alert</targetReference>
            </connector>
            <label>4 Days Notice</label>
        </rules>
        <rules>
            <name>X1_Day_Notice7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Sheet_RFI_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OneDayIndicator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Due_Alert1</targetReference>
            </connector>
            <label>1 Day Notice</label>
        </rules>
        <rules>
            <name>Past_Due_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Sheet_RFI_Due_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_RFI_Due_Alert2</targetReference>
            </connector>
            <label>Past Due Notice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Application_On_Hold</name>
        <label>Is Application On Hold?</label>
        <locationX>1106</locationX>
        <locationY>828</locationY>
        <defaultConnector>
            <targetReference>Is_UW_RFI_Outstanding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it is not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_On_Hold_Last_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Has10DaysPassed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Hold_Decision_Reasons</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Commitment_Letter_Outstanding</name>
        <label>Is Commitment Letter Outstanding?</label>
        <locationX>1106</locationX>
        <locationY>1620</locationY>
        <defaultConnector>
            <targetReference>Is_Decision_Due_Approaching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it is not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commitment_Letter_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commitment_Letter_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_RFI_Due_Alert</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Decision_Due_Approaching</name>
        <label>Is Decision Due Approaching?</label>
        <locationX>1106</locationX>
        <locationY>1956</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X7_Days_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SevenDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>7 Days Notice</label>
        </rules>
        <rules>
            <name>X6_Days_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SixDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>6 Days Notice</label>
        </rules>
        <rules>
            <name>X5_Days_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FiveDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>5 Days Notice</label>
        </rules>
        <rules>
            <name>X4_Days_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FourDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>4 Days Notice</label>
        </rules>
        <rules>
            <name>X3_Days_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ThreeDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>3 Days Notice</label>
        </rules>
        <rules>
            <name>X2_Days_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TwoDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>2 Days Notice</label>
        </rules>
        <rules>
            <name>X1_Day_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OneDayIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>1 Day Notice</label>
        </rules>
        <rules>
            <name>Decision_Due_Notice</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Due_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>Decision Due Notice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Term_Sheet_Outstanding</name>
        <label>Is Term Sheet Outstanding?</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Application_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it is not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Sheet_RFI_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cm_Completed_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Long_Before_It_Is_Due</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_UW_RFI_Outstanding</name>
        <label>Is UW RFI Outstanding?</label>
        <locationX>1106</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Is_Commitment_Letter_Outstanding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it is not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UW_RFI_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UW_RFI_Received_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_RFI_Due_Alert</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FiveDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <formulas>
        <name>FourDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+4</expression>
    </formulas>
    <formulas>
        <name>Has10DaysPassed</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 10</expression>
    </formulas>
    <formulas>
        <name>OneDayIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>SevenDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>SixDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+6</expression>
    </formulas>
    <formulas>
        <name>ThreeDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>TwoDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <interviewLabel>Loan -  ECOA Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan -  ECOA Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Term_Sheet_Outstanding</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>Declined_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Withdrawn_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approved_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Booked_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cm_Completed_Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approval / Loan Committee</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Doc Prep</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-25</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>FiveDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 25 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>FiveDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 25 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>FourDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 26 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>FourDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 26 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>IsDueDecisionMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision is due warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>IsDueIncompleteMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.LLC_BI__Loan_Officer__r.Name}&amp;nbsp; + &quot; Complete application is due warning - credit action required&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OneDayDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 29 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>OneDayIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 29 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>RFIDueAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RFI Due</text>
    </textTemplates>
    <textTemplates>
        <name>SevenDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 23 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SevenDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 23 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SixDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 24 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SixDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 24 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>ThreeDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 27 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>ThreeDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 27 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>TwoDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.cm_Credit_Analyst_Underwriter__r.Name}+ &quot; application decision due 28 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>TwoDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 28 days warning - credit action required&quot;</text>
    </textTemplates>
    <variables>
        <name>HoldDecisionReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Decision_Hold_Reason__c</elementReference>
        </value>
    </variables>
</Flow>
