force-app/main/default/flows/Loan_LO_or_LA_Changed_Update_Portal_Docs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Loan_Doc_User_Lookups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <description>When the Loan Officer or Lending Assistant is changed on a Loan, update all placeholders which are portal enabled</description>
    <environments>Default</environments>
    <interviewLabel>Loan - LO or LA Changed, Update Portal Docs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - LO or LA Changed, Update Portal Docs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Loan_Doc_User_Lookups</name>
        <label>Update Loan Doc User Lookups</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Portal_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lending_Assistant_Notified_User__c</field>
            <value>
                <elementReference>$Record.cm_Loan_Assistant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_Notified_User__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__LLC_LoanDocument__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <filterFormula>OR(
AND(
ISCHANGED({!$Record.LLC_BI__Loan_Officer__c}),
{!$Record.LLC_BI__Loan_Officer__c} != Null
),
AND(
ISCHANGED({!$Record.cm_Loan_Assistant__c}),
{!$Record.cm_Loan_Assistant__c} != Null
))</filterFormula>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
