force-app/main/default/flows/Loan_On_Stage_Update_Assign_Loan_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Attorney_Preped_Funding</name>
        <label>Assign Attorney Preped Funding</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Attorney Prepared Funding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Consumer_Laserpro_Booking</name>
        <label>Assign Consumer Laserpro Booking</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Consumer Real Estate Booking</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Consumer_Laserpro_Funding</name>
        <label>Assign Consumer Laserpro Funding</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Consumer_Laserpro_Booking</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Consumer RE LaserPro Funding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Defi_Booking</name>
        <label>Assign Defi Booking</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Consumer Non-Real Estate / Defi Booking</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Defi_Funding</name>
        <label>Assign Defi Funding</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Defi_Booking</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Consumer Non-Real Estate / Defi Funding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Encompass_Booking</name>
        <label>Assign Encompass Booking</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Encompass Booking</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Encompass_Funding</name>
        <label>Assign Encompass Funding</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Encompass_Booking</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Encompass Funding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_LaserPro_Commercial_Funding</name>
        <label>Assign LaserPro Commercial Funding</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Commercial LaserPro Funding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Team_Role_Id_Loan_Ops.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Create_Commercial_Real_Estate_Doc_Prep_Loan_Team</name>
        <label>Copy 1 of Create Commercial Real Estate Doc Prep Loan Team</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Commercial Non-Real Estate Doc Prep</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Doc_Prep_Team_Role_Id.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Commercial_Real_Estate_Doc_Prep_Loan_Team</name>
        <label>Create Commercial Real Estate Doc Prep Loan Team</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>LoanRoundRobinAssignInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <stringValue>Commercial Real Estate Doc Prep</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamRole</name>
            <value>
                <elementReference>Retrieve_Doc_Prep_Team_Role_Id.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Funding_and_Booking_Path</name>
        <label>Check Funding and Booking Path</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cm_Method_of_Doc_Prep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internally Prepared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LaserPro_Commercial_Funding</targetReference>
            </connector>
            <label>Commercial Funding</label>
        </rules>
        <rules>
            <name>Attorney_Prepared_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cm_Method_of_Doc_Prep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internally Prepared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attorney_Preped_Funding</targetReference>
            </connector>
            <label>Attorney Prepared Funding</label>
        </rules>
        <rules>
            <name>Consumer_Real_Estate_LaserPro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer Residential RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zen_Consumer_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LaserPro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Consumer_Laserpro_Funding</targetReference>
            </connector>
            <label>Consumer Real Estate - LaserPro</label>
        </rules>
        <rules>
            <name>Consumer_Real_Estate_Encompass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer Residential RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zen_Consumer_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encompass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Encompass_Funding</targetReference>
            </connector>
            <label>Consumer Real Estate - Encompass</label>
        </rules>
        <rules>
            <name>Consumer_Non_Real_Estate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consumer Residential RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zen_Consumer_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Defi_Funding</targetReference>
            </connector>
            <label>Consumer Non-Real Estate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loan_Stage</name>
        <label>Check Loan Stage</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Real_Estate_Doc_Prep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Prep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Doc_Prep_Team_Role_Id</targetReference>
            </connector>
            <label>Commercial Real Estate Doc Prep</label>
        </rules>
        <rules>
            <name>Booking_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking &amp; Funding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Team_Role_Id_Loan_Ops</targetReference>
            </connector>
            <label>Booking &amp; Funding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Type</name>
        <label>Check Product Type</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Real_Estate</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Owner Occupied CRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner Occupied CRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Farm RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construction &amp; Development RE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Commercial_Real_Estate_Doc_Prep_Loan_Team</targetReference>
            </connector>
            <label>Commercial Real Estate</label>
        </rules>
        <rules>
            <name>Commercial_Non_Real_Estate</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Commercial_Real_Estate_Doc_Prep_Loan_Team</targetReference>
            </connector>
            <label>Commercial Non Real Estate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loan On Stage Update - Assign Loan Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan On Stage Update - Assign Loan Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Doc_Prep_Team_Role_Id</name>
        <label>Retrieve Doc Prep Team Role Id</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Doc Prep Processor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Team_Role_Id_Loan_Ops</name>
        <label>Retrieve Team Role Id Loan Ops</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Funding_and_Booking_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Ops</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Loan_Stage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Doc Prep</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking &amp; Funding</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
