force-app/main/default/flows/Loan_Is_Ready_For_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Decision_Resume_Date</name>
        <label>Set Decision Resume Date</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Decision_Resume_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_To_Final_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Final_Review</name>
        <label>Set Stage To Final Review</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Final Review</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Status_To_Open</name>
        <label>Set Status To Open</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Decision_Resume_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Application_On_Hold</name>
        <label>Is Application On Hold?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_To_Final_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It is not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_To_Open</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loan - Is Ready For Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - Is Ready For Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Application_On_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Is_Review_Ready__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Review_Ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
