force-app/main/default/flows/Loan_Scheduled_Loan_Team_Chatter_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SevenDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ThreeDaysDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>OneDayDecisionDueMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Send_Decision_Due_Alert</name>
        <label>Send Decision Due Alert</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>IsDueDecisionMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>666</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>cvar_LTMUserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaFormatForChatter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruLoanTeam</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Decision_Due_Approaching</name>
        <label>Is Decision Due Approaching?</label>
        <locationX>578</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X7_Days_Notice</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncompleteCompleteClock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SevenDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>7 Days Notice</label>
        </rules>
        <rules>
            <name>X3_Days_Notice</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncompleteCompleteClock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ThreeDaysIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>3 Days Notice</label>
        </rules>
        <rules>
            <name>X1_Day_Notice</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncompleteCompleteClock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OneDayIndicator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>1 Day Notice</label>
        </rules>
        <rules>
            <name>Decision_Due_Notice</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncompleteCompleteClock__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Send_Decision_Due_Alert</targetReference>
            </connector>
            <label>Decision Due Notice</label>
        </rules>
    </decisions>
    <description>Runs Daily - Sends out notifications to team members on a loan when Reg B clocks are getting close to expiring</description>
    <environments>Default</environments>
    <formulas>
        <name>FiveDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <formulas>
        <name>FormulaFormatForChatter</name>
        <dataType>String</dataType>
        <expression>&quot;@[&quot; + {!LoopThruLoanTeam.LLC_BI__User__c} + &quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>FourDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+4</expression>
    </formulas>
    <formulas>
        <name>Has10DaysPassed</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 10</expression>
    </formulas>
    <formulas>
        <name>OneDayIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>SevenDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>SixDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+6</expression>
    </formulas>
    <formulas>
        <name>ThreeDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>TwoDaysIndicator</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <interviewLabel>Loan - Scheduled Loan Team Chatter Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - Scheduled Loan Team Chatter Notifications</label>
    <loops>
        <name>LoopThruLoanTeam</name>
        <label>LoopThruLoanTeam</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Loan_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Decision_Due_Approaching</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Team_Members</name>
        <label>Get Loan Team Members</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThruLoanTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__LoanTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Team_Members</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>Declined_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Withdrawn_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Approval_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Booked_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cm_Completed_Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approval / Loan Committee</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Doc Prep</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-10</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FiveDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot;application decision due 25 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>FiveDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 25 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>FourDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot; application decision due 26 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>FourDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 26 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>IsDueDecisionMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot;application decision is due warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>IsDueIncompleteMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.LLC_BI__Loan_Officer__r.Name}&amp;nbsp; + &quot; Complete application is due warning - credit action required&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OneDayDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot;application decision due 29 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>OneDayIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 29 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>RFIDueAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RFI Due</text>
    </textTemplates>
    <textTemplates>
        <name>SevenDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot;application decision due 23 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SevenDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 23 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SixDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot; application decision due 24 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SixDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 24 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>ThreeDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot;application decision due 27 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>ThreeDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 27 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>TwoDaysDecisionDueMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!cvar_LTMUserIDs} &quot; application decision due 28 days warning - credit action required&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>TwoDaysIncompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.LLC_BI__Loan_Officer__r.Name} + &quot; Complete application 28 days warning - credit action required&quot;</text>
    </textTemplates>
    <variables>
        <name>cvar_LTMUserIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HoldDecisionReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Decision_Hold_Reason__c</elementReference>
        </value>
    </variables>
</Flow>
