force-app/main/default/flows/Loan_Update_Product_Package_Fields_for_Approval_Process_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_IsSecured_False_to_PP</name>
        <label>Assign IsSecured False to PP</label>
        <locationX>879</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Is_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Loan_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If at least 1 loan in the product package is labeled as secured, the whole deal will be considered secured.</description>
        <name>Assign_IsSecured_to_True_on_PP</name>
        <label>Assign IsSecured to True on PP</label>
        <locationX>474</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Is_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Loan_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Largest_Loan_Amount_and_Term</name>
        <label>Assign Largest Loan Amount and Term</label>
        <locationX>50</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Highest_Loan_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Highest_Loan_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HighestTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Highest_Amortized_Loan_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HighestAmortizedTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Package</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Amortized_Term</name>
        <label>Assign Loan Amortized Term</label>
        <locationX>671</locationX>
        <locationY>2123</locationY>
        <assignmentItems>
            <assignToReference>HighestAmortizedTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Loan_Amortized_Term.LLC_BI__Amortized_Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Loan_Amortized_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_AMount</name>
        <label>Assign Loan AMount</label>
        <locationX>898</locationX>
        <locationY>1495</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Highest_Loan_Amount.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Highest_Loan_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Term</name>
        <label>Assign Loan Term</label>
        <locationX>901</locationX>
        <locationY>1809</locationY>
        <assignmentItems>
            <assignToReference>HighestTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Loan_Term.LLC_BI__Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Loan_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Collections_For_Sort</name>
        <label>Assign Record Collections For Sort</label>
        <locationX>367</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>RecordIDsForSortLoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Loans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDsForSortLoanTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Loans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDsForSortLoanAmortizedTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Loans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsReadyReviewGreaterThan0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Fields_Assignment</name>
        <label>Null Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Is_Secured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Highest_Loan_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Highest_Loan_Term__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Package.zen_Highest_Amortized_Loan_Term__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Package</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Secured_Loans_Assignment</name>
        <label>Secured Loans Assignment</label>
        <locationX>662</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>CountofSecuredLoans</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Secured_Loans_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Secured_vs_Unsecured_Deal</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Secured_Loans_Count</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Secured Loans Count</label>
        <locationX>662</locationX>
        <locationY>775</locationY>
        <assignNextValueToReference>currentItem_Secured_Loans_Count</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Associated_Loans</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Secured_Loans_Count.LLC_BI__Is_Secured__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Secured_Loans_Assignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Loan_Amortized_Term</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Loan Amortized Term</label>
        <locationX>408</locationX>
        <locationY>1931</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RecordIDsForSortLoanAmortizedTerm</collectionReference>
        <connector>
            <targetReference>Loop_Through_Loan_Amortized_Term</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LLC_BI__Amortized_Term_Months__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Loan_Amount</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Loan Amount</label>
        <locationX>661</locationX>
        <locationY>1334</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RecordIDsForSortLoanAmount</collectionReference>
        <connector>
            <targetReference>Highest_Loan_Amount</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LLC_BI__Amount__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Loan_Term</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Loan Term</label>
        <locationX>662</locationX>
        <locationY>1709</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RecordIDsForSortLoanTerm</collectionReference>
        <connector>
            <targetReference>Loop_Through_Loan_Term</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LLC_BI__Term_Months__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>IsReadyReviewGreaterThan0</name>
        <label>IsReadyReviewGreaterThan0</label>
        <locationX>358</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Null_Fields_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReadyReviewGreaterThan0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Loans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secured_Loans_Count</targetReference>
            </connector>
            <label>ReadyReviewGreaterThan0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if loan has an associated Product Package.</description>
        <name>Loan_is_assigned_to_Product_Package</name>
        <label>Loan is assigned to Product Package</label>
        <locationX>893</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Does Not Have Product Package</defaultConnectorLabel>
        <rules>
            <name>Has_Poduct_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Package</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Loans</targetReference>
            </connector>
            <label>Has Poduct Package</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secured_vs_Unsecured_Deal</name>
        <label>Secured vs Unsecured Deal</label>
        <locationX>652</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Assign_IsSecured_False_to_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofSecuredLoans</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IsSecured_to_True_on_PP</targetReference>
            </connector>
            <label>Secured</label>
        </rules>
    </decisions>
    <description>Automation to populate fields on product package used in the approval process when a loan is created or edited.</description>
    <environments>Default</environments>
    <interviewLabel>Loan - Update Product Package Fields for Approval Process - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - Update Product Package Fields for Approval Process - Record Trigger Flow</label>
    <loops>
        <name>Highest_Loan_Amount</name>
        <label>Highest Loan Amount</label>
        <locationX>661</locationX>
        <locationY>1512</locationY>
        <collectionReference>RecordIDsForSortLoanAmount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loan_AMount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Loan_Term</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Loan_Amortized_Term</name>
        <label>Loop Through Loan Amortized Term</label>
        <locationX>408</locationX>
        <locationY>2139</locationY>
        <collectionReference>RecordIDsForSortLoanAmortizedTerm</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loan_Amortized_Term</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Largest_Loan_Amount_and_Term</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Loan_Term</name>
        <label>Loop Through Loan Term</label>
        <locationX>662</locationX>
        <locationY>1932</locationY>
        <collectionReference>RecordIDsForSortLoanTerm</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loan_Term</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Loan_Amortized_Term</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Loans</name>
        <label>Get Associated Loans</label>
        <locationX>660</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Collections_For_Sort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Package.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Review_Ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Product Package record for the associated loan.</description>
        <name>Get_Product_Package</name>
        <label>Get Product Package</label>
        <locationX>901</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_is_assigned_to_Product_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Product_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Package</name>
        <label>Update Product Package</label>
        <locationX>50</locationX>
        <locationY>1620</locationY>
        <inputReference>Get_Product_Package</inputReference>
    </recordUpdates>
    <start>
        <locationX>775</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Product_Package</targetReference>
        </connector>
        <filterFormula>AND (
          {!$User.No_Workflow__c} = FALSE, 
          OR( 
              ISCHANGED({!$Record.LLC_BI__Is_Review_Ready__c}),
               ISNEW(),
               AND({!$Record.LLC_BI__Is_Review_Ready__c} = TRUE, OR(ISCHANGED({!$Record.LLC_BI__Term_Months__c}), ISCHANGED({!$Record.LLC_BI__Is_Secured__c}), 
                         ISCHANGED({!$Record.LLC_BI__Amortized_Term_Months__c}), ISCHANGED({!$Record.LLC_BI__Amount__c})))
                )
          )</filterFormula>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountofIsReadyReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountofSecuredLoans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Loans_Is_Ready_Review</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Secured_Loans_Count</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>HighestAmortizedTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HighestTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecordIDsForSortLoanAmortizedTerm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>RecordIDsForSortLoanAmount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>RecordIDsForSortLoanTerm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
