force-app/main/default/flows/Memo_Created_Set_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Original_Maturity_Date</name>
        <label>Assign Original Maturity Date</label>
        <locationX>116</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Maturity_Date_at_time_of_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Maturity_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Memo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposed_Maturity_Date</name>
        <label>Assign Proposed Maturity Date</label>
        <locationX>908</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.cm_Proposed_Maturity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ProposedMaturityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Memo_Async</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Kill_Switch</name>
        <label>Copy 1 of Kill Switch</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Short_Term_Extension_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Kill_Switch_TRUE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Kill Switch = TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Short_Term_Extension_Check</name>
        <label>Copy 1 of Short-Term Extension Check</label>
        <locationX>1040</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Update_Memo_Async</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Memo_Type_STE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Memo_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Term Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Memo_Data_Record</targetReference>
            </connector>
            <label>Copy 1 of Memo Type = STE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kill_Switch</name>
        <label>Kill Switch</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Short_Term_Extension_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_TRUE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Short_Term_Extension_Check</name>
        <label>Short-Term Extension Check</label>
        <locationX>248</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Memo_Type_STE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Memo_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Term Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Original_Maturity_Date</targetReference>
            </connector>
            <label>Memo Type = STE</label>
        </rules>
    </decisions>
    <description>When a change memo is created, set fields appropriately.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ProposedMaturityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Memo_Data_Record.LLC_BI__Proposed__c})</expression>
    </formulas>
    <interviewLabel>Memo Created - Set Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Memo Created - Set Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Memo_Data_Record</name>
        <label>Get Memo Data Record</label>
        <locationX>908</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Proposed_Maturity_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Memo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Memo_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Maturity_Date_Change__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Maturity_Date__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Memo_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Memo</name>
        <label>Update Memo</label>
        <locationX>116</locationX>
        <locationY>600</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Memo_Async</name>
        <label>Update Memo</label>
        <locationX>1040</locationX>
        <locationY>792</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_After_Creation</name>
            <connector>
                <targetReference>Copy_1_of_Kill_Switch</targetReference>
            </connector>
            <label>1 Minute After Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
