force-app/main/default/flows/Memo_Created_Update_Fields_Submit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Loan_Officer</name>
        <label>Assign Loan Officer</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Loan_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Memo_Type_Short_Term_Extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposed_Maturity_Date</name>
        <label>Assign Proposed Maturity Date</label>
        <locationX>242</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.cm_Proposed_Maturity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ProposedMaturityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Memo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Kill_Switch</name>
        <label>Kill Switch</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Loan_Officer_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Officer_Check</name>
        <label>Loan Officer Check</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Memo_Type_Short_Term_Extension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Officer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.LLC_BI__Loan_Officer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loan_Officer</targetReference>
            </connector>
            <label>Loan Officer Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memo_Type_Short_Term_Extension</name>
        <label>Memo Type = Short Term Extension</label>
        <locationX>374</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_Memo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Memo_Type_STE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Memo_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Term Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Memo_Data_Record</targetReference>
            </connector>
            <label>Memo Type = STE</label>
        </rules>
    </decisions>
    <description>When a Change Memo is created/updated, update various fields.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ProposedMaturityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Memo_Data_Record.LLC_BI__Proposed__c})</expression>
    </formulas>
    <formulas>
        <name>IsNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Memo Created - Update Fields / Submit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Memo Created/Updated - Update Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Memo_Data_Record</name>
        <label>Get Memo Data Record</label>
        <locationX>242</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Proposed_Maturity_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Memo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Memo_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Maturity_Date_Change__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Maturity_Date__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Memo_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Memo</name>
        <label>Update Memo</label>
        <locationX>374</locationX>
        <locationY>1139</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Credit_Memo_Modifcation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
