force-app/main/default/flows/nCino_Record_Triggered_Total_Exposure_Async_Recalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Loan_Run_Total_Exposure</name>
        <label>Loan: Run Total Exposure</label>
        <locationX>181</locationX>
        <locationY>501</locationY>
        <actionName>LLC_BI__TotalExposureInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PP_Run_Total_Exposure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objName</name>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Loan_Run_Total_Exposure_0</name>
        <label>Loan: Run Total Exposure</label>
        <locationX>455</locationX>
        <locationY>584</locationY>
        <actionName>LLC_BI__TotalExposureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objName</name>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PP_Run_Total_Exposure</name>
        <label>PP: Run Total Exposure</label>
        <locationX>183</locationX>
        <locationY>662</locationY>
        <actionName>LLC_BI__TotalExposureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objName</name>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.LLC_BI__Product_Package__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Kill_Switch</name>
        <label>Check Kill Switch</label>
        <locationX>167</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Exposure_Factors_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exposure_Factors_Updated</name>
        <label>Exposure Factors Updated?</label>
        <locationX>445</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Factors Not Updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Product_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Package__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Run_Total_Exposure</targetReference>
            </connector>
            <label>Yes - Has Product Package</label>
        </rules>
        <rules>
            <name>Yes_No_Product_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Product_Package__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Run_Total_Exposure_0</targetReference>
            </connector>
            <label>Yes - No Product Package</label>
        </rules>
    </decisions>
    <description>Non-API users enter the flow and it is determined if Stage or amount-based exposure factors are changed. If these are true, then recalculate exposure.</description>
    <environments>Default</environments>
    <interviewLabel>nCino - Record Triggered: Total Exposure Async Recalculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nCino - Record Triggered: Total Exposure Async Recalculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Kill_Switch</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>cm_Exposure_Calculation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
