force-app/main/default/flows/Pricing_Rate_Component_Update_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Pricing_Values</name>
        <label>Assign Pricing Values</label>
        <locationX>242</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Index_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__InterestRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Spread__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Spread__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Pricing_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Basis_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Stream_Loan_Lookup_Check</name>
        <label>Pricing Stream Loan Lookup Check</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Rate_Fields_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Stream_Loan_Lookup_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Pricing_Stream__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Loan_Lookup_on_PRC</targetReference>
            </connector>
            <label>Pricing Stream Loan Lookup not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Fields_Check</name>
        <label>Rate Fields Check</label>
        <locationX>374</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_Fields_Not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Interest_Rate_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Index__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Spread__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricing_Values</targetReference>
            </connector>
            <label>Rate Fields Not Null</label>
        </rules>
    </decisions>
    <description>When Pricing Rate Component is created/updated, run flow to update Loan</description>
    <environments>Default</environments>
    <formulas>
        <name>Index_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.LLC_BI__Index__c},
&apos;Prime_Rate&apos;, &apos;700&apos;,
&apos;FFB_Base_Rate&apos;, &apos;750&apos;,
&apos;US_T_BILL_mo_12&apos;, &apos;777&apos;,
&apos;Treasury_Rate_yr_10&apos;, &apos;800&apos;,
&apos;SOFR_day_30&apos;, &apos;850&apos;,
&apos;AMERIBOR&apos;, &apos;860&apos;,
&apos;SOFR_day_90&apos;, &apos;880&apos;,
&apos;Fed_Funds_LOC&apos;, &apos;901&apos;,
&apos;private_Line_Rate&apos;, &apos;902&apos;,
&apos;Treasury_Rate_yr_3&apos;, &apos;903&apos;,
&apos;Treasury_Rate_yr_5&apos;, &apos;904&apos;,
&apos;Overdraft_Protection&apos;, &apos;905&apos;,
&apos;Treasury_Rate_yr_7&apos;, &apos;907&apos;,
&apos;Treasury_Bil_yr_2&apos;, &apos;908&apos;,
&apos;Treasury_Bil_yr_20&apos;, &apos;909&apos;,
&apos;Treasury_Bil_yr_30&apos;, &apos;910&apos;,
&apos;Zero_Int_Rate&apos;, &apos;999&apos;,
&apos;Cleburne_Private_LOC&apos;, &apos;766&apos;,
&apos;FFB_San_Angelo_Base&apos;, &apos;780&apos;,
&apos;FFB_Conroe_Base&apos;, &apos;790&apos;,
&apos;FFB_Sweetwater_Base&apos;, &apos;785&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Pricing_Basis_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.LLC_BI__Interest_Rate_Type__c},
&apos;Fixed&apos;, &apos;Fixed&apos;,
&apos;Fixed with Index&apos;, &apos;Fixed&apos;,
&apos;Floating with Index&apos;, &apos;Variable&apos;,
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Pricing Rate Component - Update Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Rate Component - Update Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Stream_Loan_Lookup_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Index__c</queriedFields>
        <queriedFields>LLC_BI__InterestRate__c</queriedFields>
        <queriedFields>LLC_BI__Pricing_Basis__c</queriedFields>
        <queriedFields>LLC_BI__Spread__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Loan_Lookup_on_PRC</name>
        <label>Populate Loan Lookup on PRC</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Rate_Fields_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>cm_Loan__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Loan__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>242</locationX>
        <locationY>1055</locationY>
        <inputReference>Get_Loan</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Pricing_Rate_Component__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
