force-app/main/default/flows/Pricing_Payment_Component_Update_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_P_I_Payment_Info_to_Loan_record</name>
        <label>Assign P&amp;I Payment Info to Loan record</label>
        <locationX>82</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Monthly_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Payment_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Frequency_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPI_Payment_Info_to_Loan_record</name>
        <label>Assign P+I Payment Info to Loan record</label>
        <locationX>346</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Monthly_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Payment_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Principal_Payment_Freq_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan.LLC_BI__Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal+Interest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>P_I_Payment_fields_Null_Check</name>
        <label>P&amp;I Payment fields Null Check</label>
        <locationX>280</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>PPI_Payment_fields_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_I_Payment_fields_not_null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal &amp; Interest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Frequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_P_I_Payment_Info_to_Loan_record</targetReference>
            </connector>
            <label>P&amp;I Payment fields not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PPI_Payment_fields_Null_Check</name>
        <label>P+I Payment fields Null Check</label>
        <locationX>478</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PPI_Payment_fields_not_null</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal + Interest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Frequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Interest_Payment_Frequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PPI_Payment_Info_to_Loan_record</targetReference>
            </connector>
            <label>P+I Payment fields not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Stream_Loan_Lookup_Check</name>
        <label>Pricing Stream Loan Lookup Check</label>
        <locationX>533</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Sequence_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Stream_Loan_Lookup_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Pricing_Stream__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Loan_Lookup_on_PPC</targetReference>
            </connector>
            <label>Pricing Stream Loan Lookup Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sequence_Check</name>
        <label>Sequence Check</label>
        <locationX>533</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sequence_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P_I_Payment_fields_Null_Check</targetReference>
            </connector>
            <label>Sequence = 1</label>
        </rules>
    </decisions>
    <description>When Pricing Payment Component is created/updated, run flow to update Loan</description>
    <environments>Default</environments>
    <formulas>
        <name>Payment_Frequency_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.LLC_BI__Frequency__c},
&apos;Frequency_Monthly&apos;, &apos;Monthly&apos;,
&apos;Frequency_Annually&apos;, &apos;Annual&apos;,
&apos;Frequency_Biweekly&apos;, &apos;Bi-Weekly&apos;,
&apos;Frequency_Weekly&apos;, &apos;Weekly&apos;,
&apos;Frequency_Semiannually&apos;, &apos;Semi-Annual&apos;,
&apos;Frequency_Bimonthly&apos;, &apos;Bi-Monthly&apos;,
&apos;Frequency_Quarterly&apos;, &apos;Quarterly&apos;,
&apos;Frequency_Semimonthly&apos;, &apos;Semi-Monthly&apos;,
&apos;Frequency_At_Maturity&apos;, &apos;Single Pay&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Principal_Payment_Freq_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.LLC_BI__Principal_Payment_Frequency__c},
&apos;Frequency_Monthly&apos;, &apos;Monthly&apos;,
&apos;Frequency_Annually&apos;, &apos;Annual&apos;,
&apos;Frequency_Biweekly&apos;, &apos;Bi-Weekly&apos;,
&apos;Frequency_Weekly&apos;, &apos;Weekly&apos;,
&apos;Frequency_Semiannually&apos;, &apos;Semi-Annual&apos;,
&apos;Frequency_Bimonthly&apos;, &apos;Bi-Monthly&apos;,
&apos;Frequency_Quarterly&apos;, &apos;Quarterly&apos;,
&apos;Frequency_Semimonthly&apos;, &apos;Semi-Monthly&apos;,
&apos;Frequency_At_Maturity&apos;, &apos;Single Pay&apos;,
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Pricing Payment Component - Update Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Payment Component - Update Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>533</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Stream_Loan_Lookup_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Monthly_Payment__c</queriedFields>
        <queriedFields>LLC_BI__Payment_Schedule__c</queriedFields>
        <queriedFields>LLC_BI__Payment_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Loan_Lookup_on_PPC</name>
        <label>Populate Loan Lookup on PPC</label>
        <locationX>401</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Sequence_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>cm_Loan__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Pricing_Stream__r.LLC_BI__Loan__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>280</locationX>
        <locationY>1439</locationY>
        <inputReference>Get_Loan</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Pricing_Payment_Component__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
