force-app/main/default/flows/Product_Package_Creation_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_Trigger_Kill_Switch_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Integration Trigger Kill Switch</label>
        </rules>
    </decisions>
    <description>When a Product Package is created, this flow is run to set fields (ie. Product Package Name)</description>
    <environments>Default</environments>
    <formulas>
        <name>ProductPackageNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Account__r.Full_Legal_Name_Formula__c} &amp; &apos; - &apos; &amp; &apos;PP&apos; &amp; &apos; - &apos; &amp; CASE(MONTH(Today()), 1, &quot;Jan&quot;, 2, &quot;Feb&quot;, 3, &quot;Mar&quot;, 4, &quot;Apr&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;Aug&quot;, 9, &quot;Sep&quot;, 10, &quot;Oct&quot;, 11, &quot;Nov&quot;, 12, &quot;Dec&quot;, &quot;None&quot;) &amp; &apos; &apos;  &amp; TEXT(Year(Today()))</expression>
    </formulas>
    <interviewLabel>Product Package Creation - Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Package Creation - Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Product_Package</name>
        <label>Update Product Package</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProductPackageNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Product_Package__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
