force-app/main/default/flows/Product_Package_Creation_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Copy_2_of_Integration_Trigger_Kill_Switch</name>
        <label>Copy 2 of Integration Trigger Kill Switch</label>
        <locationX>1007</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Get_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Integration_Trigger_Kill_Switch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Integration Trigger Kill Switch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>422</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Package_Net_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_Trigger_Kill_Switch_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Integration Trigger Kill Switch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewals_or_Mods_Returned</name>
        <label>Renewals or Mods Returned</label>
        <locationX>1214</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_Advanced_Deal_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Results Found</defaultConnectorLabel>
        <rules>
            <name>Collection_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Collection is Null</label>
        </rules>
    </decisions>
    <description>When a Product Package is created, this flow is run to set fields (ie. Product Package Name, Region, Record Type)</description>
    <environments>Default</environments>
    <formulas>
        <name>ProductPackageNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.LLC_BI__Account__r.Full_Legal_Name_Formula__c} &amp; &apos; - &apos; &amp; &apos;PP&apos; &amp; &apos; - &apos; &amp; CASE(MONTH(Today()), 1, &quot;Jan&quot;, 2, &quot;Feb&quot;, 3, &quot;Mar&quot;, 4, &quot;Apr&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;Aug&quot;, 9, &quot;Sep&quot;, 10, &quot;Oct&quot;, 11, &quot;Nov&quot;, 12, &quot;Dec&quot;, &quot;None&quot;) &amp; &apos; &apos;  &amp; TEXT(Year(Today()))</expression>
    </formulas>
    <interviewLabel>Product Package Creation - Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Package Creation - Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Advanced_Deal_RT</name>
        <label>Get Advanced Deal RT</label>
        <locationX>1346</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product_Package_Ren_Mod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced_Deal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans</name>
        <label>Get Loans</label>
        <locationX>1214</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewals_or_Mods_Returned</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__isRenewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Modification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Package_Net_New</name>
        <label>Update Product Package - Net New</label>
        <locationX>554</locationX>
        <locationY>456</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProductPackageNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Account__r.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Package_Ren_Mod</name>
        <label>Update Product Package - Ren_Mod</label>
        <locationX>1346</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Advanced_Deal_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Product_Package__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Pause_After_Creation</name>
            <connector>
                <targetReference>Copy_2_of_Integration_Trigger_Kill_Switch</targetReference>
            </connector>
            <label>Pause - After Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
