force-app/main/default/flows/Review_Created_Update_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Integration_Trigger_Kill_Switch</name>
        <label>Integration Trigger Kill Switch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Review_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <description>When a Review is Created, update the record as needed (ie. Set Loan Officer)</description>
    <environments>Default</environments>
    <interviewLabel>Review Created - Update Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Created - Update Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Review_Record</name>
        <label>Update Review Record</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>cm_Loan_Officer__c</field>
            <value>
                <elementReference>$Record.LLC_BI__Account__r.ffin_Relationship_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Integration_Trigger_Kill_Switch</targetReference>
        </connector>
        <object>LLC_BI__Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
