force-app/main/default/flows/Service_Mgmt_Record_Created_Chatter_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Notify_Internal_Servicer_via_Chatter</name>
        <label>Copy 1 of Notify Internal Servicer via Chatter</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Internal_Servicer_via_Chatter</name>
        <label>Notify Internal Servicer via Chatter</label>
        <locationX>110</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Service_Mgmt_Email_Alert</name>
        <label>Service Mgmt Email Alert</label>
        <locationX>638</locationX>
        <locationY>539</locationY>
        <actionName>LLC_BI__Service_Mgmt__c.Service_Mgmt_Flood_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Commercial_vs_Consumer</name>
        <label>Commercial vs Consumer</label>
        <locationX>506</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ffin_Service_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ffin_Internal_Servicer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Service_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flood Approval Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Internal_Servicer_via_Chatter</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
        <rules>
            <name>Consumer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ffin_Service_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ffin_Internal_Servicer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Service_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flood Approval Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Notify_Internal_Servicer_via_Chatter</targetReference>
            </connector>
            <label>Consumer</label>
        </rules>
        <rules>
            <name>Flood_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flood Approval Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Mgmt_Email_Alert</targetReference>
            </connector>
            <label>Flood Approval Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kill_Switch_Check</name>
        <label>Kill Switch Check</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Commercial_vs_Consumer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_Trigger_Kill_Switch_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Integration Trigger Kill Switch - True</label>
        </rules>
    </decisions>
    <description>When a Service Mgmt Record is created, notify Internal Servicer or Notify Flood Approval Process Queue</description>
    <environments>Default</environments>
    <interviewLabel>Service Mgmt Record Created - Chatter Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Mgmt Record Created - Chatter Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kill_Switch_Check</targetReference>
        </connector>
        <object>LLC_BI__Service_Mgmt__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.ffin_Internal_Servicer__c}] A new Service Management record has been created for your review.</text>
    </textTemplates>
</Flow>
