force-app/main/default/flows/Service_Mgmt_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PendingChatter</name>
        <label>PendingChatter</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PendingMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Phase1CompleteChatter</name>
        <label>Phase1CompleteChatter</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Phase1CompleteMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Phase2Chatter</name>
        <label>Phase2Chatter</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Phase2Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Status_Value</name>
        <label>Status Value</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingChatter</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Phase_1_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1 Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase1CompleteChatter</targetReference>
            </connector>
            <label>Phase 1 Complete</label>
        </rules>
        <rules>
            <name>Phase_2_Review_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2 Review Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase2Chatter</targetReference>
            </connector>
            <label>Phase 2 Review Ready</label>
        </rules>
    </decisions>
    <description>Creates chatter notifications when Service Mgmt Status field is changed</description>
    <environments>Default</environments>
    <interviewLabel>Service Mgmt Chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Mgmt Chatter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Value</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase 1 Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase 2 Review Ready</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Service_Mgmt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PendingMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] The status of your flood approval process has been changed to Pending. Please contact the assigned Internal Servicer to determine what is needed.</text>
    </textTemplates>
    <textTemplates>
        <name>Phase1CompleteMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] The status of your flood approval process has been changed to Phase 1 Complete. Please update the status to Phase 2 Review Ready when you are ready for a final approval.</text>
    </textTemplates>
    <textTemplates>
        <name>Phase2Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.ffin_Internal_Servicer__c}] The status of this record has been changed to Phase 2 Review Ready. Please update to Pending if something is missing and update to Complete if final flood approval is granted.</text>
    </textTemplates>
</Flow>
