force-app/main/default/flows/Sub_Loan_Update_Stage_when_Parent_Loan_Stage_is_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Current_Item_to_Collection</name>
        <label>Assign Current Item to Collection</label>
        <locationX>374</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>cvar_LoansToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Loans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>374</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Child_Loans.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Child_Loans.LLC_BI__Is_Review_Ready__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Is_Review_Ready__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Loan_Check</name>
        <label>Child Loan Check</label>
        <locationX>418</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Loans_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Loans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Child_Loans</targetReference>
            </connector>
            <label>Child Loans Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kill_Switch</name>
        <label>Kill Switch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kill_Switch_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Integration_Trigger_Kill_Switch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.No_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Kill Switch = True</label>
        </rules>
    </decisions>
    <description>When a parent loans stage updates, update child loans as well</description>
    <environments>Default</environments>
    <interviewLabel>Sub Loan - Update Stage when Parent Loan Stage is Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Loan - Update Stage when Parent Loan Stage is Updated</label>
    <loops>
        <name>Loop_through_Child_Loans</name>
        <label>Loop through Child Loans</label>
        <locationX>286</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Child_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Loans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Loans</name>
        <label>Get Child Loans</label>
        <locationX>418</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Loan_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>LLC_BI__ParentLoan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Highest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Loans</name>
        <label>Update Child Loans</label>
        <locationX>286</locationX>
        <locationY>1151</locationY>
        <inputReference>cvar_LoansToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kill_Switch</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 5 AND (2 OR 4)</filterLogic>
        <filters>
            <field>LLC_BI__Is_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Review_Ready__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approval / Loan Committee</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cvar_LoansToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
