force-app/main/default/flows/Zen_Consumer_Loan_Creation_on_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_fields_to_the_Loan</name>
        <label>Assign fields to the Loan</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordToCreate.LLC_BI__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanRecordToCreate.LLC_BI__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Officer</name>
        <label>Assign Loan Officer</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordToCreate.LLC_BI__Loan_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelationshipManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Creation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Booking_and_Funding</name>
        <label>Assign to Booking and Funding</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordToCreate.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking &amp; Funding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_fields_to_the_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Processing</name>
        <label>Assign to Processing</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoanRecordToCreate.LLC_BI__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_fields_to_the_Loan</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConsumerAutoOption</name>
        <choiceText>Consumer Auto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer Auto</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConsumerNonAutoOption</name>
        <choiceText>Consumer Non-Auto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer Non-Auto</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConsumerREOption</name>
        <choiceText>Consumer Residential Real Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer Residential RE</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Docs_have_been_prepared</name>
        <label>Check if Docs have been prepared</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Docs_have_been_prepared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_Documents_Already_Been_Created_Signed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Booking_and_Funding</targetReference>
            </connector>
            <label>Docs have been prepared</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BorrowerTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LLC_BI__Borrower_Type__c</picklistField>
        <picklistObject>LLC_BI__Legal_Entities__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumerAutoChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer Auto</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Product__c</object>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product_Line__c</assignToReference>
            <field>LLC_BI__Product_Line_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product_Type__c</assignToReference>
            <field>LLC_BI__Product_Type_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumerNonAutoChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer Non-Auto</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Product__c</object>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product_Line__c</assignToReference>
            <field>LLC_BI__Product_Line_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product_Type__c</assignToReference>
            <field>LLC_BI__Product_Type_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumerResidentialREChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer Residential RE</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Product__c</object>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product_Line__c</assignToReference>
            <field>LLC_BI__Product_Line_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product_Type__c</assignToReference>
            <field>LLC_BI__Product_Type_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanRecordToCreate.LLC_BI__Product__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Consumer Loan Creation on Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consumer Loan Creation on Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Entity_Involvement</name>
        <label>Create Entity Involvement</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Borrower_Type__c</field>
            <value>
                <elementReference>Borrower_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Contingent_Type__c</field>
            <value>
                <stringValue>Joint &amp; Several</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanRecordToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Ownership__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Legal_Entities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Record</name>
        <label>Create Loan Record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Entity_Involvement</targetReference>
        </connector>
        <inputReference>LoanRecordToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Relationship_Manager</name>
        <label>Get Relationship Manager</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Loan_Officer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>RelationshipManagerId</assignToReference>
            <field>ffin_Relationship_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Loan_Creation_Screen</name>
        <label>Loan Creation Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Docs_have_been_prepared</targetReference>
        </connector>
        <fields>
            <name>Loan_Creation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Creation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_Documents_Already_Been_Created_Signed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Have Documents Already Been Created &amp; Signed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;An answer of &apos;Yes&apos; will skip the loan straight to Booking &amp;amp; Funding stage.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Select_Product_Type</name>
                    <choiceReferences>ConsumerAutoOption</choiceReferences>
                    <choiceReferences>ConsumerNonAutoOption</choiceReferences>
                    <choiceReferences>ConsumerREOption</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Product Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Creation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanRecordToCreate.Zen_Consumer_Source__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Consumer_RE_Product</name>
                    <choiceReferences>ConsumerResidentialREChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Consumer RE Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Product_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ConsumerREOption</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Consumer_Non_Auto_Product</name>
                    <choiceReferences>ConsumerNonAutoChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Consumer Non Auto Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Product_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ConsumerNonAutoOption</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Consumer_Auto_Product</name>
                    <choiceReferences>ConsumerAutoChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Consumer Auto Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Product_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ConsumerAutoOption</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Loan_Details</name>
            <fieldText>Loan Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanRecordToCreate.LLC_BI__lookupKey__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Loan_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Loan Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanRecordToCreate.LLC_BI__Credit_Approval_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanRecordToCreate.LLC_BI__Loan_Officer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LoanRecordToCreate.cm_Loan_Assistant__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Borrower_Details</name>
            <fieldText>Borrower Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Borrower_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Borrower_Type</name>
                    <choiceReferences>BorrowerTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Borrower</stringValue>
                    </defaultValue>
                    <fieldText>Borrower Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Qualification_Page</name>
        <label>Qualification Page</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Relationship_Manager</targetReference>
        </connector>
        <fields>
            <name>Qualification_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Action is for creating the following loans:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Consumer Real Estate&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Consumer Non-Real Estate&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Defi&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;HFS&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Continue&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to proceed!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Qualification_Page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product__c</objectType>
    </variables>
    <variables>
        <name>LoanRecordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelationshipManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
